html {
    width: 100%;
    height: 100%;
    border: dotted green;
}

body {
    width: 100%;
    height: 100%;
    border: dotted red;
}


#main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 80%;
    background-color: rgb(231, 231, 231);
    color: white;
    margin: auto;
    border: 2px solid black;
    padding-left: 3%;
    padding-right: 3%;
}

#main-container header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 18, 65, 0.774);
    margin-top: 2.5%;
    margin-bottom: 0.75%;
    width: 100%;
    text-align: center;
}

#middle-section {
    text-align: center;
    background-color: darkgray;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#top-section {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    margin: 3% 2% 1% 2%;
    background-color: lightgray;
}

#main-section {
    flex: 5;
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 0.75%;
    padding: 0.75%;
    padding-top: 1.8%;
    background-color: dodgerblue;
}

#table-render-space {
    display: flex;
    flex: 1;
    background-color: sandybrown;
    
}

#table-html-space {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: orangered;
    border: 1px solid red;
    padding-top: 2%;
}

#main-container footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 18, 65, 0.774);
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    height: 20%;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

fieldset {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

#row-count, #col-count, #table-width, #border-width {
    width: 30%;
    height: 30%;

}
textarea {
    width: 100%;
    height: 100%;
}